
body {
    background: #f5e6ff; 
    font-family: 'Arial', sans-serif;
}


.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-box {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}


.auth-image {
    width: 80px;
    margin-bottom: 10px;
}


.btn-primary {
    background: #9b59b6; 
    border: none;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #8e44ad;
}


a {
    color: #9b59b6;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
